<!doctype html>
<html lang="en">
<head>
    <title>Bargain Books</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <h1><%= shopName%> - Bargain Books</h1>
    <h2>Find books under £20 here!</h2>
    <% for (let i = 0; i < bargainBooks.length; i++) { %>
        <ul>
            <li><%= bargainBooks[i].name%>, <%= bargainBooks[i].price%></li>
        </ul>
        <% } %>
</body>
</html>