<!doctype html>
<html lang="en">
<head>
    <title>Books we sell</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <h1><%=shopName%> Shop</h1>
    <h2>All of the books we sell:</h2>
    <% for (let i = 0; i < availableBooks.length; i++) { %>
        <ul>
            <li><%= availableBooks[i].name%>, <%= availableBooks[i].price%></li>
        </ul>
        <% } %>
</body>
</html>