<!doctype html>
<html lang="en">
<head>
    <title>Search Result</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <h1><%=shopName%> Shop</h1>
    <h2>Books matching your search:</h2>
    <% if (availablnewBooks.length) {
        for (var i = 0; i < availablnewBooks.length; i++) {%>
            <ul>
                <li><%= availablnewBooks[i].name%>, <%= availablnewBooks[i].price%></li>
            </ul>
        <%}
        } else {%>
            <p>Nothing matches your search!</p>
        <%}%>
</body>
</html>